::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6920c;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(246, 146, 12, 0.8);
}
h1 {
  color: red;
}
